<div class="header clearfix">
	<a href="{% url 'index'%}" class="logo"></a>
	<ul class="menu">
		<li><a href="{% url 'index'%}" class="{%if request.resolver_match.url_name == 'index' and not request.resolver_match.app_names   %}active{% endif %}">домой</a></li>
		<li><a href="{% url 'products:index' %}" class="{%if request.resolver_match.url_name == 'index' and request.resolver_match.app_names %}active{% endif %}">продукты</a></li>
		<li><a href="{% url 'contacts' %}" class="{%if request.resolver_match.url_name == 'contacts' %}active{% endif %}">контакты</a></li>
	</ul>

</div>