{% extends 'geekshop/base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">
{% endblock %}

{% block content %}

		<div class="details">
			{% include 'mainapp/includes/inc_category_menu.html' %}


		<div class="featured">
			<h2>
			    Categoryes: "{{ category.name|title }}"
			</h2>
			<div class="featured-menu">
				<a class="active" href="#">Popular</a><a href="#">News</a>
			</div>
			<a class="explore" href="#">All products <img src="{% static 'geekshop/img/arrow.png' %}" alt=""></a>
			<div class="clearfix">
			</div>
			<div class="tab-content">
				{% for product in products %}
					<div class="block">
						<a href="{% url 'basket:add' product.pk %}"><img src="/media/{{product.image}}" alt="">
							<div class="text">
								<img src="{% static 'geekshop/img/icon-hover.png' %}" alt="img">
								<h4>{{product.name}}</h4>
								<p>{{product.short_desc}}. </p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>

			<div class="related">
				<div class="title clearfix">
					<h2>same products</h2>
					<a class="explore" href="#">all products <img src="/static/geekshop/img/arrow.png" alt=""></a>
				</div>
				<div class="related-products clearfix">
					<div class="block">
						<a href="#"><img src="/media/{{product.image}}" alt="">
							<div class="text">
								<img src="img/icon-hover.png" alt="img">
								<h4>Nice chair</h4>
								<p>Nice chair </p>
							</div>
						</a>
					</div>
					{% for prod in same_products %}
					<div class="block">
						<a href="#"><img src="/media/{{prod.image}}" alt="">
							<div class="text">
								<img src="{% static 'geekshop/img/icon-hover.png' %}" alt="img">
								<h4>{{prod.name}}</h4>
								<p>{{prod.description}}</p>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
{% endblock %}
